<script lang="ts">
	import {
		fa1,
		faArrowPointer,
		faArrowsLeftRightToLine,
		faArrowsToCircle,
		faArrowsToDot,
		faArrowsUpDownLeftRight,
		faBackward,
		faBorderAll,
		faBorderNone,
		faBroom,
		faBug,
		faBugSlash,
		faChevronDown,
		faChevronUp,
		faCircleHalfStroke,
		faDownload,
		faEraser,
		faEye,
		faEyeSlash,
		faForward,
		faHand,
		faInfo,
		faLink,
		faLinkSlash,
		faLocationCrosshairs,
		faMagnifyingGlass,
		faMagnifyingGlassMinus,
		faMagnifyingGlassPlus,
		faPause,
		faPencil,
		faPenToSquare,
		faPersonRunning,
		faPersonWalking,
		faPlay,
		faRecycle,
		faSquare,
		faStepForward,
		faUpload,
	} from "@fortawesome/free-solid-svg-icons"
	import { FontAwesomeIcon } from "@fortawesome/svelte-fontawesome"

	import { MAXIMUM_ZOOM_LEVEL, MINIMUM_ZOOM_LEVEL, RULES_PRESETS } from "src/constants"
	import {
		debuggerMode,
		editMode,
		grid,
		isRunning,
		offset,
		playStrategy,
		scrollBehavior,
		spectatorMode,
		tapSlideBehavior,
		trace,
		zoomLevel,
	} from "src/store"
	import type { Coordinates } from "src/types"

	import EditMode from "src/enums/EditMode"
	import PlayStrategy from "src/enums/PlayStrategy"
	import ScrollBehavior from "src/enums/ScrollBehavior"
	import TapSlideBehavior from "src/enums/TapSlideBehavior"

	import areSetsEqual from "src/functions/areSetsEqual"
	import round from "src/functions/round"

	interface Props {
		patternName: string
		playStep: () => void

		speed: number
		decreaseSpeed: () => void
		resetSpeed: () => void
		increaseSpeed: () => void

		openFile: () => void
		downloadPattern: () => void

		wipeSimulation: () => void
		reset: () => void

		birthRules: Set<number>
		survivalRules: Set<number>
		toggleBirthRule: (i: number) => void
		toggleSurvivalRule: (i: number) => void
		usePresetRule: (birthRules: Set<number>, survivalRules: Set<number>) => void

		showHelpModal: () => void

		isTapSliding: boolean

		zoomIn: () => void
		zoomOut: () => void
		resetOffset: () => void
		fitToPattern: () => void

		generations: number
		population: number
		cell: Coordinates | null
		cursor: Coordinates | null
	}

	let {
		patternName = $bindable<string>(),
		playStep,
		speed,
		decreaseSpeed,
		resetSpeed,
		increaseSpeed,
		openFile,
		downloadPattern,
		wipeSimulation,
		reset,
		birthRules,
		survivalRules,
		toggleBirthRule,
		toggleSurvivalRule,
		usePresetRule,
		showHelpModal,
		isTapSliding,
		zoomIn,
		zoomOut,
		resetOffset,
		fitToPattern,
		generations,
		population,
		cell,
		cursor,
	}: Props = $props()

	let rulesPaneOpened = $state(false)
</script>

{#if !$spectatorMode}
	<div class="pane flex-col left-1 top-1 select-none">
		<h1>
			Le jeu de la vie
		</h1>
		<input type="text" bind:value={patternName} />
	</div>

	<div class="pane left-1/2 top-1 -translate-x-1/2" class:pointer-events-none={isTapSliding}>
		<button
			title="Jouer une étape"
			onclick={playStep}
			class:pointer-events-none={$isRunning}
		>
			<FontAwesomeIcon icon={faStepForward} />
		</button>

		<button
			title={$isRunning ? "Mettre en pause" : "Jouer"}
			onclick={() => isRunning.update(($isRunning) => !$isRunning)}
		>
			{#if $isRunning}
				<FontAwesomeIcon icon={faPause} />
			{:else}
				<FontAwesomeIcon icon={faPlay} />
			{/if}
		</button>
	</div>
{/if}

<div class="pane flex-col right-1 top-1 select-none" class:pointer-events-none={isTapSliding}>
	<div class="flex gap-2 justify-end">
		{#if !$spectatorMode}
			<div class="flex justify-end items-center gap-2">
				<button title="Charger…" onclick={openFile}>
					<FontAwesomeIcon icon={faUpload} />
				</button>
			</div>

			<div class="flex justify-end items-center gap-2">
				<button title="Sauvegarder…" onclick={downloadPattern}>
					<FontAwesomeIcon icon={faDownload} />
				</button>
			</div>

			<button
				title={$grid ? "Masquer la grille" : "Afficher la grille"}
				onclick={() => grid.update(($grid) => !$grid)}
			>
				{#if $grid}
					<FontAwesomeIcon icon={faBorderAll} />
				{:else}
					<FontAwesomeIcon icon={faBorderNone} />
				{/if}
			</button>

			<button
				title={$trace ? "Masquer la trace" : "Afficher la trace"}
				onclick={() => trace.update(($trace) => !$trace)}
			>
				{#if $trace}
					<FontAwesomeIcon icon={faLink} />
				{:else}
					<FontAwesomeIcon icon={faLinkSlash} />
				{/if}
			</button>

			<button
				title={$debuggerMode ? "Arrêter de déboguer" : "Déboguer"}
				onclick={() => debuggerMode.update(($debuggerMode) => !$debuggerMode)}
			>
				{#if $debuggerMode}
					<FontAwesomeIcon icon={faBug} />
				{:else}
					<FontAwesomeIcon icon={faBugSlash} />
				{/if}
			</button>

			<button
				title="Configurer les règles"
				onclick={() => rulesPaneOpened = !rulesPaneOpened}
			>
				{#if rulesPaneOpened}
					<FontAwesomeIcon icon={faChevronUp} />
				{:else}
					<FontAwesomeIcon icon={faChevronDown} />
				{/if}
			</button>

			<button title="Supprimer toutes les cellules" onclick={wipeSimulation}>
				<FontAwesomeIcon icon={faBroom} />
			</button>

			<button title="Réinitialiser tous les paramètres" onclick={reset}>
				<FontAwesomeIcon icon={faRecycle} />
			</button>

			<button title="Informations" onclick={showHelpModal}>
				<FontAwesomeIcon icon={faInfo} />
			</button>
		{/if}

		<button
			title="Passer en mode spectateur"
			onclick={() => spectatorMode.update(($spectatorMode) => !$spectatorMode)}
		>
			{#if $spectatorMode}
				<FontAwesomeIcon icon={faEyeSlash} />
			{:else}
				<FontAwesomeIcon icon={faEye} />
			{/if}
		</button>
	</div>

	{#if !$spectatorMode && rulesPaneOpened}
		<div class="flex flex-col gap-2">
			<div class="flex gap-2 justify-end items-center">
				<div class="flex flex-col gap-2 justify-center items-start">
					<h2>
						règles de naissance
					</h2>
					<h2>
						règles de survie
					</h2>
				</div>

				<div class="flex flex-col gap-2 justify-center items-center">
					<div class="flex gap-2 justify-between items-center">
						<button class="rule text-opacity-50 pointer-events-none" disabled={true}>0</button>
						{#each [1, 2, 3, 4, 5, 6, 7, 8] as i}
							<button
								class="rule"
								class:active={birthRules.has(i)}
								onclick={() => toggleBirthRule(i)}
							>
								{i}
							</button>
						{/each}
					</div>
					<div class="flex gap-2 justify-between items-center">
						{#each [0, 1, 2, 3, 4, 5, 6, 7, 8] as i}
							<button
								class="rule"
								class:active={survivalRules.has(i)}
								onclick={() => toggleSurvivalRule(i)}
							>
								{i}
							</button>
						{/each}
					</div>
				</div>
			</div>
			<div class="flex gap-2 flex-wrap justify-end">
				{#each RULES_PRESETS as { name, birthRules: birth, survivalRules: survival }}
					<button
						class="px-2 py-1"
						class:active={areSetsEqual(birthRules, birth) && areSetsEqual(survivalRules, survival)}
						onclick={() => usePresetRule(birth, survival)}
					>
						{name}
					</button>
				{/each}
			</div>
		</div>
	{/if}
</div>

{#if !$spectatorMode}
	<div class="pane flex-col left-1 top-1/2 -translate-y-1/2" class:pointer-events-none={isTapSliding}>
		<button
			title="Déplacer la carte"
			onclick={() => tapSlideBehavior.set(TapSlideBehavior.Move)}
			class:active={$tapSlideBehavior === TapSlideBehavior.Move}
		>
			<FontAwesomeIcon icon={faHand} />
		</button>

		<button
			title="Modifier le modèle"
			onclick={() => tapSlideBehavior.set(TapSlideBehavior.Edit)}
			class:active={$tapSlideBehavior === TapSlideBehavior.Edit}
		>
			<FontAwesomeIcon icon={faPenToSquare} />
		</button>

		{#if $tapSlideBehavior === TapSlideBehavior.Edit}
			<hr />
			<button
				title="Insérer des cellules"
				onclick={() => editMode.set(EditMode.Create)}
				class:active={$editMode === EditMode.Create}
			>
				<FontAwesomeIcon icon={faPencil} />
			</button>
			<button
				title="Inverser des cellules"
				onclick={() => editMode.set(EditMode.Toggle)}
				class:active={$editMode === EditMode.Toggle}
			>
				<FontAwesomeIcon icon={faCircleHalfStroke} />
			</button>
			<button
				title="Supprimer des cellules"
				onclick={() => editMode.set(EditMode.Delete)}
				class:active={$editMode === EditMode.Delete}
			>
				<FontAwesomeIcon icon={faEraser} />
			</button>
		{/if}
	</div>

	<div class="pane left-1 bottom-1" class:pointer-events-none={isTapSliding}>
		<button
			title="Mode cadencé (fréquence stable)"
			onclick={() => playStrategy.set(PlayStrategy.Scheduled)}
			class:active={$playStrategy === PlayStrategy.Scheduled}
		>
			<FontAwesomeIcon icon={faPersonWalking} />
		</button>

		<button
			title="Mode effréné (fréquence instable)"
			onclick={() => playStrategy.set(PlayStrategy.Unbridled)}
			class:active={$playStrategy === PlayStrategy.Unbridled}
		>
			<FontAwesomeIcon icon={faPersonRunning} />
		</button>
	</div>

	<div class="pane left-1/2 bottom-1 -translate-x-1/2" class:pointer-events-none={isTapSliding}>
		<button
			title="Diminuer la vitesse"
			class:pointer-events-none={speed === 0}
			onclick={decreaseSpeed}
		>
			<FontAwesomeIcon icon={faBackward} />
		</button>

		<button title="Réinitialiser la vitesse" onclick={resetSpeed}>
			<FontAwesomeIcon icon={fa1} fixedWidth />
		</button>

		<button title="Augmenter la vitesse" onclick={increaseSpeed}>
			<FontAwesomeIcon icon={faForward} />
		</button>
	</div>

	<div class="pane flex-col right-1 top-1/2 -translate-y-1/2" class:pointer-events-none={isTapSliding}>
		<button
			title="Grossir ou dégrossir la carte (molette)"
			onclick={() => scrollBehavior.set(ScrollBehavior.Zoom)}
			class:active={$scrollBehavior === ScrollBehavior.Zoom}
		>
			<FontAwesomeIcon icon={faMagnifyingGlass} />
		</button>

		<button
			title="Déplacer la carte (pavé tactile ou boule de commande)"
			onclick={() => scrollBehavior.set(ScrollBehavior.Move)}
			class:active={$scrollBehavior === ScrollBehavior.Move}
		>
			<FontAwesomeIcon icon={faArrowsUpDownLeftRight} />
		</button>

		<hr />

		<button title="Grossir" onclick={zoomIn} class:pointer-events-none={$zoomLevel > MAXIMUM_ZOOM_LEVEL - 1}>
			<FontAwesomeIcon icon={faMagnifyingGlassPlus} />
		</button>

		<button title="Dégrossir" onclick={zoomOut} class:pointer-events-none={$zoomLevel <= MINIMUM_ZOOM_LEVEL + 1}>
			<FontAwesomeIcon icon={faMagnifyingGlassMinus} />
		</button>

		<button title="Revenir au centre" onclick={resetOffset}>
			<FontAwesomeIcon icon={faArrowsToDot} />
		</button>

		<button title="Autopositionner" onclick={fitToPattern}>
			<FontAwesomeIcon icon={faArrowsToCircle} />
		</button>
	</div>

	<div class="pane flex-col text-right right-1 bottom-1 select-none">
		<span>
			{generations} <abbr title="générations">gén.</abbr>
		</span>
		<span>
			{population} <abbr title="cellules">cel.</abbr>
		</span>
		<span>
			{2 ** speed} <abbr title="générations/étape">gén./ét.</abbr>
		</span>
		<span class="flex justify-end items-center gap-1">
			<span>
				{#if $zoomLevel >= 0}
					1 : {round(2 ** $zoomLevel, 3)}
				{:else}
					{round(2 ** (-$zoomLevel), 3)} : 1
				{/if}
			</span>
			<FontAwesomeIcon
				icon={faMagnifyingGlass}
				fixedWidth={true}
				title="Échelle"
			/>
		</span>
		<span class="flex justify-end items-center gap-1">
			<span>
				{#if cell !== null}
					({cell.x >= 0 ? cell.x : `−${-cell.x}`} ; {cell.y >= 0 ? cell.y : `−${-cell.y}`})
				{:else}
					ND
				{/if}
			</span>
			<FontAwesomeIcon
				icon={faLocationCrosshairs}
				flip="horizontal"
				fixedWidth={true}
				title="Cellule pointée"
			/>
		</span>

		{#if $debuggerMode}
			<span class="flex justify-end items-center gap-1">
				<span>
					{#if cursor !== null}
						{cursor.x}x : {cursor.y}y
					{:else}
						ND
					{/if}
				</span>
				<FontAwesomeIcon
					icon={faArrowPointer}
					fixedWidth={true}
					title="Position du curseur"
				/>
			</span>
			<span class="flex justify-end items-center gap-1">
				<span>
					{$offset.x >= 0 ? round($offset.x, 3) : `−${-round($offset.x, 3)}`}x : {$offset.y >= 0 ? round($offset.y, 3) : `−${-round($offset.y, 3)}`}y
				</span>
				<FontAwesomeIcon
					icon={faArrowsLeftRightToLine}
					fixedWidth={true}
					title="Décalage à l’origine"
				/>
			</span>
			<span class="flex justify-end items-center gap-1">
				<span>
					{round(2 ** $zoomLevel, 3)}
				</span>
				<FontAwesomeIcon
					icon={faSquare}
					fixedWidth={true}
					title="Taille des cellules"
				/>
			</span>
		{/if}
	</div>
{/if}

<style lang="postcss">
	.pane {
		@apply absolute flex justify-center gap-2 p-2 rounded-lg;
		@apply bg-neutral-100/80 dark:bg-neutral-900/80;
	}

	.pane input {
		@apply p-1 border rounded-md;
		@apply bg-white border-neutral-400 dark:bg-neutral-800 dark:border-neutral-600;
	}

	.pane button {
		@apply flex justify-center items-center;
	}

	.rule {
		@apply w-4 h-4 p-1 [line-height:0] text-center border rounded-sm;
	}

	.active {
		@apply text-neutral-100 border-neutral-900 bg-neutral-900;
		@apply dark:text-neutral-900 dark:border-neutral-100 dark:bg-neutral-100;
	}

	.pointer-events-none {
		@apply opacity-50;
	}
</style>
