<script lang="ts">
	import type { Coordinates } from "src/types"

	interface Props {
		cursor: Coordinates | null
	}

	const { cursor }: Props = $props()

	const SIZE = 2
</script>

<div class="select-none">
	<!-- Marqueurs jaunes -->
	<div
		style:position="absolute"
		style:width="{SIZE}px"
		style:height="{innerHeight}px"
		style:left="{(innerWidth - SIZE) / 2}px"
		style:background-color="#ff0"
	></div>
	<div
		style:position="absolute"
		style:width="{innerWidth}px"
		style:height="{SIZE}px"
		style:top="{(innerHeight - SIZE) / 2}px"
		style:background-color="#ff0"
	></div>

	<!-- Marqueurs cyans horizontaux -->
	{#each [0, 1] as x}
		<div
			style:position="absolute"
			style:width="{innerWidth}px"
			style:height="{SIZE}px"
			style:top="{(x * 2 + 1) * innerHeight / 4 - SIZE / 2}px"
			style:background-color="#0ff"
		></div>
	{/each}

	<!-- Marqueurs magentas horizontaux -->
	{#each [0, 1, 2, 3] as x}
		<div
			style:position="absolute"
			style:width="{innerWidth}px"
			style:height="{SIZE}px"
			style:top="{(x * 2 + 1) * innerHeight / 8 - SIZE / 2}px"
			style:background-color="#f0f"
		></div>
	{/each}

	<!-- Marqueurs cyans verticaux -->
	{#each [0, 1] as x}
		<div
			style:position="absolute"
			style:width="{SIZE}px"
			style:height="{innerHeight}px"
			style:left="{(x * 2 + 1) * innerWidth / 4 - SIZE / 2}px"
			style:background-color="#0ff"
		></div>
	{/each}

	<!-- Marqueurs magentas verticaux -->
	{#each [0, 1, 2, 3] as x}
		<div
			style:position="absolute"
			style:width="{SIZE}px"
			style:height="{innerHeight}px"
			style:left="{(x * 2 + 1) * innerWidth / 8 - SIZE / 2}px"
			style:background-color="#f0f"
		></div>
	{/each}

	<!-- Marqueur orange -->
	{#if cursor !== null}
		<div
			style:position="absolute"
			style:width="{innerWidth / 2}px"
			style:height="{innerHeight / 2}px"
			style:top="{innerHeight / 4 + (cursor.y - innerHeight / 2) / 2 - SIZE / 2}px"
			style:left="{innerWidth / 4 + (cursor.x - innerWidth / 2) / 2 - SIZE / 2}px"
			style:border="{SIZE}px solid #f80"
		></div>
	{/if}
</div>
