<script lang="ts">
	import Modal from "src/components/Modal.svelte"

	interface Props {
		message: string
	}

	const { message }: Props = $props()
</script>

<Modal>
	<div class="text-center large-lines">
		{message}
	</div>
</Modal>
