<script lang="ts">
	import Modal from "src/components/Modal.svelte"
</script>

<Modal>
	<div class="flex flex-col gap-4">
		<p>Bienvenue dans le jeu de la vie !</p>
		<p>Cette application vous permet de créer des univers de jeux de la vie selon les règles B/S (naissance–survie) que vous souhaitez avec une carte de taille quasi infinie.</p>
		<p>Cependant, malgré tous les efforts investis dans l’optimisation de mon algorithme, vous devez savoir que ses performances se dégradent très vite pour des motifs de taille importante. Pour des situations complexes, voyez plutôt le site <a href="https://copy.sh/life">copy.sh</a> qui utilise l’algorithme <cite>HashLife</cite>.</p>
		<p>Enfin, cette application vous permet de sauvegarder votre univers dans un fichier pour le recharger plus tard, ou de charger des fichiers provenant d’autres sources. Les formats supportés sont <a href="https://conwaylife.com/wiki/Plaintext"><cite>Cells</cite></a>, <a href="https://conwaylife.com/wiki/Life_1.06"><cite>Life 1.06</cite></a> et <a href="https://conwaylife.com/wiki/Run_Length_Encoded"><cite>Run Length Encoded</cite></a>. Le site <cite>Conway Life</cite> fournit une <a href="https://conwaylife.com/wiki/Category:Patterns">base de modèles</a> téléchargeables au format RLE.</p>
		<p>Amusez‐vous bien !</p>

		<p>Plusieurs raccourcis claviers sont disponibles :</p>
		<table class="table-fixed border-collapse mx-auto">
			<thead>
				<tr>
					<th>
						Raccourci
					</th>
					<th>
						Action
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Espace
					</td>
					<td>
						Jouer ou mettre en pause
					</td>
				</tr>
				<tr>
					<td>
						E
					</td>
					<td>
						Jouer une étape
					</td>
				</tr>
				<tr>
					<td>
						Flèches
					</td>
					<td>
						Déplacer la carte
					</td>
				</tr>
				<tr>
					<td>
						J
					</td>
					<td>
						Changer de comportement de défilement (grossissement ou déplacement)
						<br />
						Le second mode permet de déplacer la carte par glissement sur pavé tactile ou par rotation de boule de commande
					</td>
				</tr>
				<tr>
					<td>
						M
					</td>
					<td>
						Changer de comportement de clic-glissement (déplacement ou modification)
					</td>
				</tr>
				<tr>
					<td>
						L
					</td>
					<td>
						Changer de mode de modification (insertion, inversion ou suppression)
					</td>
				</tr>
				<tr>
					<td>
						Page précédente ou suivante
					</td>
					<td>
						Augmenter ou diminuer la vitesse
					</td>
				</tr>
				<tr>
					<td>
						X
					</td>
					<td>
						Changer de stratégie de jeu (cadencé ou effréné)
						<br />
						Le mode cadencé vous fournit une fréquence stable et un affichage fluide mais est plus lent
						<br />
						Le mode effréné est très rapide mais a une fréquence instable et peut avoir un affichage saccadé
					</td>
				</tr>
				<tr>
					<td>
						V
					</td>
					<td>
						Réinitialiser la vitesse
					</td>
				</tr>
				<tr>
					<td>
						Début ou fin
					</td>
					<td>
						Augmenter ou diminuer le grossissement
					</td>
				</tr>
				<tr>
					<td>
						C
					</td>
					<td>
						Revenir au centre de la carte
					</td>
				</tr>
				<tr>
					<td>
						F
					</td>
					<td>
						Adapter la position et le grossissement au contenu de la carte
					</td>
				</tr>
				<tr>
					<td>
						O
					</td>
					<td>
						Ouvrir un fichier
					</td>
				</tr>
				<tr>
					<td>
						P
					</td>
					<td>
						Exporter le modèle dans un fichier
					</td>
				</tr>
				<tr>
					<td>
						G
					</td>
					<td>
						Activer ou désactiver l’affichage de la grille
					</td>
				</tr>
				<tr>
					<td>
						D
					</td>
					<td>
						Activer ou désactiver l’affichage du débogueur graphique
					</td>
				</tr>
				<tr>
					<td>
						S
					</td>
					<td>
						Activer ou désactiver le mode spectateur
					</td>
				</tr>
				<tr>
					<td>
						W
					</td>
					<td>
						Supprimer toutes les cellules actives
					</td>
				</tr>
				<tr>
					<td>
						Retour en arrière
					</td>
					<td>
						Réinitialiser l’état de l’application
					</td>
				</tr>
				<tr>
					<td>
						H
					</td>
					<td>
						Ouvrir la modale d’aide et d’information
					</td>
				</tr>
				<tr>
					<td>
						Échap.
					</td>
					<td>
						Fermer la modale d’aide et d’information
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</Modal>
