<script lang="ts">
	import { FontAwesomeIcon } from "@fortawesome/svelte-fontawesome"

	import KeyboardAction from "src/enums/KeyboardAction"

	interface Props {
		keyboardAction: KeyboardAction
	}

	const { keyboardAction }: Props = $props()
	const icon = $derived(keyboardAction.icon)
</script>

<div class="bubble flex justify-center">
	<div class="in-bubble">
		<FontAwesomeIcon {icon} fixedWidth={true} />
	</div>
</div>

<style lang="postcss">
	.bubble {
		@apply fixed z-[9] top-0 left-0;
		@apply p-4 rounded-full;
		@apply text-neutral-50 bg-neutral-900 bg-opacity-80;

		margin: 50vh 50vw;
		transform: translate(-50%, -50%);
		animation: zoom 1s;
		animation-fill-mode: forwards;
		transition-property: opacity, transform;
	}

	.bubble :global(.svg-inline--fa) {
		@apply m-1;
	}

	@keyframes zoom {
		from {
			@apply opacity-0;
			transform: translate(-50%, -50%) scale(1);
		}

		25%, 50% {
			@apply opacity-100;
		}

		to {
			@apply opacity-0;
			transform: translate(-50%, -50%) scale(1.25);
		}
	}

	.in-bubble {
		@apply flex items-center h-0;
		padding: 50% 0;
		font-size: 2rem;
	}
</style>
