<script lang="ts">
	import type { Snippet } from "svelte"

	import { faXmark } from "@fortawesome/free-solid-svg-icons"
	import { FontAwesomeIcon } from "@fortawesome/svelte-fontawesome"
	import { onMount } from "svelte"

	import { modal } from "src/store"

	interface Props {
		children: Snippet
	}

	const { children }: Props = $props()

	let element = $state<HTMLDialogElement | undefined>()
	let closeButton = $state<HTMLButtonElement | undefined>()

	onMount(() => {
		element?.showModal()
		closeButton?.focus()
	})

	const closeModal = () => modal.set(null)
</script>

<dialog
	class="p-4 flex flex-col gap-4 modal"
	bind:this={element}
	onclose={closeModal}
>
	<div class="flex justify-end items-center modal-menu">
		<form method="dialog" onsubmit={closeModal}>
			<button
				class="flex justify-center"
				title="Fermer la modale"
				bind:this={closeButton}
			>
				<FontAwesomeIcon icon={faXmark} />
			</button>
		</form>
	</div>

	<div class="grow flex flex-col items-center overflow-y-auto [scrollbar-width:thin] modal-content" tabIndex={0}>
		<div class="p-4 grow flex flex-col justify-center">
			{@render children()}
		</div>
	</div>
</dialog>

<style lang="postcss">
	.modal {
		@apply m-0 fixed z-[99] w-screen h-screen max-w-none max-h-none;
		@apply text-neutral-50 bg-neutral-900/80;
	}

	.modal::backdrop {
		@apply bg-transparent;
	}

	.modal-menu,
	.modal-content {
		@apply w-full mx-auto my-0;
		max-width: 1024px;
	}

	.modal-content :global(p) {
		@apply text-justify [text-align-last:center];
	}

	.modal-content :global(table th),
	.modal-content :global(table td) {
		@apply text-center border px-4 py-2;
	}

	.modal div:focus-visible,
	.modal button:focus-visible {
		@apply outline-neutral-50;
	}
</style>
