@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--outline-size: 2px;
}

body {
	@apply overflow-hidden;
}

button {
	all: unset;
}

button,
.button {
	@apply cursor-pointer select-none rounded-lg;
}

button .svg-inline--fa,
.button .svg-inline--fa {
	@apply m-1;
}

div:focus-visible,
input:focus-visible,
button:focus-visible {
	@apply outline outline-2 outline-neutral-900 dark:outline-neutral-50;
}

.large-lines {
	line-height: 150%;
}
